body{
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h2{
  font-family: 'Comfortaa', cursive;
  font-size: 2.5rem;
  color: #ffd800;
  font-weight: normal;
}

h3{
  font-family: 'Comfortaa', cursive;
  color: #bbe1fa;
}
p{
  line-height: 2;
}
hr{
  border-style: none none dotted none;
  border-width: 5px;
  width: 4%;
  color: #EAF6F6;
  margin: 50px auto;
}

h1{
  font-size: 5.265rem;
  margin: 2.6rem auto 0 auto;
  font-family: 'Yellowtail', cursive;
  color: #ffffff;
  line-height: 2;

}

/* containers */
.container{
  padding: 50px 60px 0;
  max-width: 780px;
  margin: auto;
}
/*** TOP CONTAINER ***/
.top-container{
  background-color: #313131;
}

/* Header */
header{
  position: relative;
}

.skyline{
  max-width: 90%;
}
.top-cloud{
  position: absolute;
  right: 3%;
  top: 5%;
  width: 20%;
}
.bottom-cloud{
  position: absolute;
  left: 3%;
  bottom: 35%;
  width: 20%;
}

/*** MIDDLE CONTAINER ***/
.middle-container{
  padding: 100px 0 60px 0;
  background-color: #525252;
}
.profile{
  width: 50%;
  margin: 0 auto;
}
.skill-row{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 100px auto;
  text-align: left;
}
.reverse{
  flex-flow: row-reverse;
}
.punch-img{
  margin-right: 30px;
}
.vanishing-img{
  margin-left: 30px;
}
.contact-message{
  width: 70%;
  margin: 40px auto 60px;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #313131;
  font-size: 20px;
  background: #f6cd61;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background-color: #313131;
  color: #ffffff;
}

/*** BOTTOM CONTAINER ***/
.bottom-container{
  background-color: #313131;
  padding: 50px 0 20px;
}
.footer-link{
  color: #bbe1fa;
  text-decoration: none;
  margin: auto 10px;
}
.footer-link:hover{
  color: #EAF6F6;
}
.bottom-container p, .copyright{
  color: #ffffff;
  font-size: 0.8rem;
}

@media screen and (max-width: 800px){

  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 1.5rem;
  }
  .skill-row{
    flex-wrap: wrap;
    text-align: center;
  }
  .reverse{
    flex-flow: row;
    flex-wrap: wrap;
  }
  .punch-img, .vanishing-img{
    margin: 0 0 60px 0 ;
  }

  .container{
    padding: 25px 30px 0;
  }

}
